.vs
*.user
/src/D2D1AppWindow/x64/
/src/D2D1AppWindow/x64/*
/src/D2D1AppWindow/x64/Debug/D3DAppWindow.tlog/
*.tlog
/src/D3DAppWindow/x64/Debug/AppWindow.obj
/src/D3DAppWindow/x64/Debug/basicPixelShader.cso
/src/D3DAppWindow/x64/Debug/basicVertexShader.cso
/src/D3DAppWindow/x64/Debug/D3DAppWindow.Build.CppClean.log
/src/D3DAppWindow/x64/Debug/D3DAppWindow.exe
/src/D3DAppWindow/x64/Debug/D3DAppWindow.exe.recipe
/src/D3DAppWindow/x64/Debug/D3DAppWindow.ilk
/src/D3DAppWindow/x64/Debug/D3DAppWindow.log
/src/D3DAppWindow/x64/Debug/D3DAppWindow.obj
/src/D3DAppWindow/x64/Debug/D3DAppWindow.pch
/src/D3DAppWindow/x64/Debug/D3DAppWindow.pdb
/src/D3DAppWindow/x64/Debug/D3DAppWindow.res
/src/D3DAppWindow/x64/Debug/D3DAppWindow.vcxproj.CopyComplete
/src/D3DAppWindow/x64/Debug/D3DAppWindow.vcxproj.FileListAbsolute.txt
/src/D3DAppWindow/x64/Debug/D3DCompiler_43.dll
/src/D3DAppWindow/x64/Debug/d3dx10d_43.dll
/src/D3DAppWindow/x64/Debug/d3dx11d_43.dll
/src/D3DAppWindow/x64/Debug/d3dx9d_43.dll
/src/D3DAppWindow/x64/Debug/Exception.obj
/src/D3DAppWindow/x64/Debug/framework.obj
/src/D3DAppWindow/x64/Debug/main.obj
/src/D3DAppWindow/x64/Debug/pch.obj
/src/D3DAppWindow/x64/Debug/shaderList.txt
/src/D3DAppWindow/x64/Debug/vc143.idb
/src/D3DAppWindow/x64/Debug/vc143.pdb
/src/D3DAppWindow/x64/Debug/VertexTypes.obj
src/D3DAppWindow/*.*
/src/D3DAppWindow/x64/*.*
src/D3DAppWindow/packages/*
src/D3DAppWindow/x64/Debug/*